img.animated-gif{
    width: 120px;
    height: auto;
  }
  h1{
    color: rgb(0, 17, 255);
    background-color: rgba(5, 161, 167, 0.445);
    font-family: Impact;
    border-style: inset;
    text-shadow: 0 0 3px #00d9ff, 0 0 5px #00ffd5;
  }